<div class="panel-content">
  <div class="panel-item-title">签订合同的情况：</div>
  <div class="flex">
    <div class="flex-cell">
      <div class="flex-item" style="width: 100%;">
        <div class="flex-head">成都万事达科技有限公司</div>
        <ul>
          <li class="title">协议名称</li>
          <li>《全面战略合作框架协议》</li>
          <li class="title">签订时间</li>
          <li>2017/11/20</li>
          <li class="title">签订情况</li>
          <li>成功</li>
        </ul>
      </div>
    </div>
    <div class="flex-cell" style="padding-left:12px;">
      <div class="flex-item" style="width: 100%;">
        <div class="flex-head">成都万世答科技公司</div>
        <ul>
          <li class="title">协议名称</li>
          <li>《成都高新区全面创新战略合作协议》</li>
          <li class="title">签订时间</li>
          <li>2017/11/21</li>
          <li class="title">签订情况</li>
          <li>成功</li>
        </ul>
      </div>
    </div>
    <div class="flex-cell" style="padding-left:12px;">
      <div class="flex-item" style="width: 100%;">
        <div class="flex-head">中智四川经济技术合作有限公司</div>
        <ul>
          <li class="title">协议名称</li>
          <li>签订战略合作框架协议</li>
          <li class="title">签订时间</li>
          <li>2017/11/22</li>
          <li class="title">签订情况</li>
          <li>成功</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-item-title">新闻事件：</div>
  <div class="flex">
    <div class="flex-cell">
      <div class="flex-item" style="width: 100%;">
        <div class="flex-head">北京百度网讯科技有限公司</div>
        <ul>
          <li class="title">新闻标题</li>
          <li>魏泽西事件武警医院治死人,为什么逮住百度不放</li>
          <li class="title">时间</li>
          <li>2017/11/20</li>
        </ul>
      </div>
    </div>
    <div class="flex-cell" style="padding-left:12px;">
      <div class="flex-item" style="width: 100%;">
        <div class="flex-head">成都凯凯科技有限责任公司</div>
        <ul>
          <li class="title">新闻标题</li>
          <li>关于成都凯凯科技有限责任公司的新闻事件</li>
          <li class="title">时间</li>
          <li>2017/11/20</li>
        </ul>
      </div>
    </div>
    <div class="flex-cell" style="padding-left:12px;">
      <div class="flex-item" style="width: 100%;">
        <div class="flex-head">杭州阿里巴巴有限责任公司</div>
        <ul>
          <li class="title">新闻标题</li>
          <li>2017年双11又创破100亿新记录</li>
          <li class="title">时间</li>
          <li>2017/11/12</li>
        </ul>
      </div>
    </div>
  </div>
</div>
