ul {
  white-space: nowrap;
  display: inline-block;
}

li.flex-cell {
  display: inline-block;
  width: 280px;
  margin-left: 12px;
  border: 1px solid rgba(249, 182, 32, .3);
  border-radius: 10px;
}

li.flex-cell:first-of-type {
  margin-left: 0;
}

div.flex-item {
  height: auto;
}