<!-- 重点企业追踪 -->
<div class="panel-content">
  <div class="panel-item-title">签订合同的情况：</div>
  <perfect-scrollbar data-scroll="X">
    <ul class="contract-ul">
      <li class="flex-cell" *ngFor="let item of Contracts">
        <div class="flex-item" style="width: 100%;">
          <div class="flex-head">{{item.enterpriseName}}</div>
          <ul>
            <li class="title">协议名称</li>
            <li>{{item.protocol}}</li>
            <li class="title">签订时间</li>
            <li>{{item.signTime | date: 'yyyy-MM-dd'}}</li>
            <li class="title">签订情况</li>
            <li>{{item.signSitution}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </perfect-scrollbar>
  <div class="panel-item-title">新闻事件：</div>
  <perfect-scrollbar data-scroll="X">
    <ul class="contract-ul">
      <li class="flex-cell" *ngFor="let item of News">
        <div class="flex-item" style="width: 100%;">
          <div class="flex-head">{{item.enterpriseName}}</div>
          <ul>
            <li class="title">新闻标题</li>
            <li>{{item.title}}</li>
            <li class="title">时间</li>
            <li>{{item.releaseDate | date: 'yyyy-MM-dd'}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </perfect-scrollbar>
</div>
