<!-- 企业资质信息 -->
<div class="panel-bd pop-index-1 animated">
  <div class="panel-content">
    <div class="panel-item-title">资质认证：</div>
    <div id="certificationsDiv"></div>
    <table class="table table-bordered" id="certifications">
      <tr>
        <td class="nowrap">许可事项/证书名称:</td>
        <td name="name"></td>
        <td class="nowrap">许可文件编号:</td>
        <td name="number"></td>
      </tr>
      <tr>
        <td class="nowrap">许可内容/范围:</td>
        <td colspan="3" name="content"></td>
      </tr>
      <tr>
        <td class="nowrap">许可/发证机关:</td>
        <td name="office"></td>
        <td class="nowrap">许可/发证日期:</td>
        <td class="nowrap" name="certificationDate"></td>
      </tr>
      <tr>
        <td class="nowrap">有效期自:</td>
        <td name="validityStart"></td>
        <td class="nowrap">有效期至:</td>
        <td name="validityEnd"></td>
      </tr>
      <tr>
        <td class="nowrap">数据提供单位:</td>
        <td name="dataProvider"></td>
        <td class="nowrap">数据提供日期:</td>
        <td name="dataSupplyTime"></td>
      </tr>
    </table>

  </div>
</div>
