.industry-panel .right-panel .content,.industry-panel .tab_con{
    height:100%;
}
.industry-panel .industry-menu{
    position: relative;
    height: 100%;
    float: left;
    margin-top:10px;
}
.industry-panel .industry-menu .menu-item {
    position: relative;
    padding: 10px 15px;
    text-align: left;
    cursor: pointer;
    transition: all .5s;
}
.industry-panel .industry-menu .menu-row.active .menu-item, .industry-menu .menu-item:hover {
    background: rgba(249, 182, 32, 0.2);
    color: #f9b620;
}
.industry-panel .industry-menu .menu-item .menu-text {
    margin-right: 20px;
}
.industry-panel .industry-menu .menu-item .info-arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: inherit;
    color: #7d85cb;
    transition: transform .3s;
}
.industry-panel .industry-menu .menu-row.active .info-arrow{
    transform: rotate(180deg);
}
.industry-panel .industry-menu .sub-menu{
    background: rgba(0,0,0,.5);
}
.industry-panel .industry-menu .menu-row:not(:first-child) .sub-menu{
    /*display: none;*/
}
.industry-panel .industry-menu .sub-menu li{
    padding: 10px 15px;
    cursor: pointer;
    color: #86878b;
}
.industry-panel .industry-menu .sub-menu li.active,.industry-panel .industry-menu .sub-menu li:hover{
    color: #bcbdbf;
}
.industry-panel .industry-menu .sub-menu li em{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #f9b620;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 4px;
    visibility: hidden;
}
.industry-panel .industry-menu .sub-menu li.active em,.industry-panel .industry-menu .sub-menu li:hover em{
    visibility: visible;
}
.company-detail .panel-bd,.industry-panel .panel-bd,.foster-panel .panel-bd{
    /*width: auto;*/
    height: 100%;
}
.industry-panel .panel-bd .panel-content{
    height: 100%;
    overflow: hidden;
}
.company-detail .panel-content .flex-item{
    /*width: 3.125rem;*/
    width: 100%;
    height: 2.083333rem;
}
.industry-system .right_div{
    width: 400px;
    margin-left: 10px;
}
.industry-system .company-list .company-item .company-logo{
    width: 100px;
    padding: 0;
}
.industry-system #industry{
    /*width: 4rem;
    height: 3rem;*/
    width: 100%;
    height: 3rem;
}
.industry-system #enterprise,.industry-system #gdp{
    width: 100%;
    height: 2rem;
}
.company-detail .panel-content .park-basic-info{
    width: 100%;
    height: 2.083333rem;
}
.industry-panel,.foster-panel{
    position: absolute;
    width: 100%;
    height: 100%;
}
.foster-panel .flex-item{
    height: 2rem;
}
.foster-tool-title{
    color: #f9b620;
    font-weight: bold;
}
.text-l{
    text-align: left;
}
.foster-tool-box td,.foster-tool-box tr,.panel-content .foster-tool-box .table tr th:first-child,.foster-tool-box table tr td:first-child{
    border: none !important;
}
.industry-panel .panel-content .table tr td {
    text-align: center;
}
#add-new-industry{
    margin: 5px 10px;
    clear: both;
}
#add-new-industry .new-industry-input{
    text-align: center;
    border: 1px solid rgba(249, 182, 32, 0.3);
    background: none;
    color: #fff;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    outline: none;
}
#add-new-industry .add-new-industry{
    background: none;
    border: 1px solid rgba(249, 182, 32, 0.3);
    height: 35px;
    line-height: 35px;
    padding: 0 8px;
    color: #fff;
}
.follow-list {
    overflow: hidden;
    margin-bottom: 10px;
}
.follow-list .title {
    font-size: 16px;
    color: #f9b620;
}
.follow-list li{
    float: left;
    margin: 10px 10px 0;
    border: 1px solid rgba(249,182,32,.3);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
.follow-list li.active{
    color: #f9b620;
    border-color: #f9b620;
}
