<div class="single-form">
  <form (ngSubmit)="onSubmit()" #roleForm="ngForm">
    <div class="form-group">
      <label class="form-label" for="name">角色名称</label>
      <input type="text" class="form-control" id="name" minlength="4" required
             [(ngModel)]="roleName" name="name" placeholder="请输入角色名称"
             #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 4 characters long.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="desc">备注</label>
      <input type="text" class="form-control" id="desc" required
             [(ngModel)]="roleDesc" name="desc" placeholder="请输入备注">
    </div>

    <div class="role-con">
      <label class="form-label">角色功能</label>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!roleForm.form.valid">Submit</button>
    <!-- - -->
  </form>
</div>
