<!-- 信用信息 -->
<div class="panel-bd pop-index-2 animated">
  <div class="panel-content" id="divs">
    <div id="xingzheng" style="display:none">
      <div class="panel-item-title">行政奖励信息：</div>
      <table class="table table-bordered">
        <tr>
          <td class="nowrap">奖励事项/荣誉名称:</td>
          <td name="name"></td>
          <td class="nowrap">奖励级别:</td>
          <td name="level"></td>
        </tr>
        <tr>
          <td>年度:</td>
          <td name="year"></td>
          <td class="nowrap">证书/登记编号:</td>
          <td name="number"></td>
        </tr>
        <tr>
          <td class="nowrap">有效期自评定/发证机关:</td>
          <td name="office"></td>
          <td class="nowrap">评定/发证日期:</td>
          <td class="nowrap" name="date"></td>
        </tr>
        <tr>
          <td class="nowrap">数据提供单位:</td>
          <td name="dataProvider"></td>
          <td class="nowrap">数据提供日期:</td>
          <td class="nowrap" name="dataSupplyTime"></td>
        </tr>
      </table>
    </div>
    <div id="biaozhang" style="display:none">
      <div class="panel-item-title">表彰奖励信息：</div>
      <table class="table table-bordered">
        <tr>
          <td class="nowrap">表彰奖励事项:</td>
          <td name="name">单位缴存住房公积金良好</td>
          <td>年度:</td>
          <td name="year"></td>
        </tr>
        <tr>
          <td class="nowrap">表彰奖励内容:</td>
          <td colspan="3" name="content">单位按时足额缴纳公积金</td>
        </tr>
        <tr>
          <td class="nowrap">颁发单位:</td>
          <td name="office"></td>
          <td class="nowrap">颁发日期:</td>
          <td class="nowrap" name="date">2017-03-30</td>
        </tr>
        <tr>
          <td class="nowrap">数据提供单位:</td>
          <td name="dataProvider"></td>
          <td class="nowrap">数据提供日期:</td>
          <td class="nowrap" name="dataSupplyTime">2017-03-30</td>
        </tr>
      </table>
    </div>
    <div id="chufa" style="display:none">
      <div class="panel-item-title">行政处罚信息：</div>
      <table class="table table-bordered">
        <tr>
          <td class="nowrap">违法行为类型:</td>
          <td colspan="3" name="illegalTypes"></td>
        </tr>
        <tr>
          <td class="nowrap">行政处罚内容:</td>
          <td colspan="3" name="content"></td>
        </tr>
        <tr>
          <td class="nowrap">决定书文号:</td>
          <td name="documentNumber"></td>
          <td class="nowrap">决定机关名称:</td>
          <td name="office"></td>
        </tr>
        <tr>
          <td class="nowrap">处罚决定日期:</td>
          <td class="nowrap" name="date"></td>
          <td class="nowrap">公示日期:</td>
          <td class="nowrap" name="ddate"></td>
        </tr>
        <tr>
          <td class="nowrap">详情:</td>
          <td colspan="3">略</td>
        </tr>
        <tr>
          <td class="nowrap">数据提供单位:</td>
          <td name="dataProvider"></td>
          <td class="nowrap">数据提供日期:</td>
          <td class="nowrap" name="dataSupplyTime"></td>
        </tr>
      </table>
    </div>
    <div id="panjue" style="display:none">
      <div class="panel-item-title">司法判决信息：</div>
      <div id="judicialDecisionEntitiesDiv"></div>
      <table class="table table-bordered" id="judicialDecisionEntities">
        <tr>
          <td class="nowrap">法律诉讼数:</td>
          <td name="litigationNumber"></td>
          <td class="nowrap">法律诉讼胜诉数:</td>
          <td name="winningNumber"></td>
        </tr>
        <tr>
          <td class="nowrap">法律诉讼败诉数:</td>
          <td name="losingNumber"></td>
          <td class="nowrap">数据提供单位:</td>
          <td name="dataProvider"></td>
        </tr>
        <tr>
          <td class="nowrap">数据提供日期:</td>
          <td class="nowrap" colspan="3" name="dataSupplyTime"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
