<div class="con-hd">
  <button class="excel-import">EXCEL导入</button>
  <button class="excel-export">EXCEL导出</button>
</div>
<table class="table table-bordered table-hover table-s table-overflow-x">
  <thead>
  <tr class="text-c">
    <th>ID</th>
    <th>账号</th>
    <th>姓名</th>
    <th>注册时间</th>
    <th>修改时间</th>
    <th>修改人</th>
    <th>创建人</th>
    <th>最后登录时间</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr class="text-c ng-scope" ng-repeat="item in useres">
    <td class="nowrap ng-binding">1</td>
    <td class="nowrap ng-binding">13608265505</td>
    <td class="nowrap ng-binding">汪磊</td>
    <td class="nowrap ng-binding">2017-08-23 12:40:13</td>
    <td class="nowrap ng-binding">2017-11-16 16:55:50</td>
    <td class="ng-binding">超级管理员</td>
    <td class="ng-binding">超级管理员</td>
    <td class="nowrap ng-binding">2017-11-08 01:44:20</td>
    <td class="nowrap ng-binding">禁用</td>
    <td class="f-14">
      <div class="nowrap">
        <a><i class="fa fa-pencil"></i></a>
        <a><i class="fa fa-remove"></i></a>
        <a>设置角色</a>
      </div>
    </td>
  </tr>
  <tr class="text-c ng-scope" ng-repeat="item in useres">
    <td class="nowrap ng-binding">1</td>
    <td class="nowrap ng-binding">13608265505</td>
    <td class="nowrap ng-binding">汪磊</td>
    <td class="nowrap ng-binding">2017-08-23 12:40:13</td>
    <td class="nowrap ng-binding">2017-11-16 16:55:50</td>
    <td class="ng-binding">超级管理员</td>
    <td class="ng-binding">超级管理员</td>
    <td class="nowrap ng-binding">2017-11-08 01:44:20</td>
    <td class="nowrap ng-binding">禁用</td>
    <td class="f-14">
      <div class="nowrap">
        <a><i class="fa fa-pencil"></i></a>
        <a><i class="fa fa-remove"></i></a>
        <a>设置角色</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
