<div class="con-hd">
  <button class="btn add-btn" routerLink="/admin/functionManage">新增功能</button>
</div>
<table class="table table-bordered table-hover table-s table-overflow-x">
  <thead>
  <tr class="text-c">
    <th>编号</th>
    <th>权限名称</th>
    <th>methods</th>
    <th>权限串</th>
    <th>状态</th>
    <th>创建人</th>
    <th>创建时间</th>
    <th>修改人</th>
    <th>修改时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr class="text-c ng-scope">
    <td class="nowrap ng-binding">f584ca***</td>
    <td class="nowrap ng-binding">启用/禁用用户</td>
    <td class="nowrap ng-binding">POST</td>
    <td class="nowrap ng-binding">/v1/user/param</td>
    <td class="nowrap ng-binding">正常</td>
    <td class="ng-binding">超级管理员</td>
    <td class="nowrap ng-binding">2017-11-08 11:54:26</td>
    <td class="nowrap ng-binding">超级管理员</td>
    <td class="nowrap ng-binding">2018-01-24 10:16:24</td>
    <td class="f-14">
      <div class="nowrap">
        <a><i class="fa fa-pencil"></i></a>
        <a><i class="fa fa-remove"></i></a>
      </div>
    </td>
  </tr>
  <tr class="text-c ng-scope" >
    <td class="nowrap ng-binding">f584ca***</td>
    <td class="nowrap ng-binding">启用/禁用用户</td>
    <td class="nowrap ng-binding">POST</td>
    <td class="nowrap ng-binding">/v1/user/param</td>
    <td class="nowrap ng-binding">正常</td>
    <td class="ng-binding">超级管理员</td>
    <td class="nowrap ng-binding">2017-11-08 11:54:26</td>
    <td class="nowrap ng-binding">超级管理员</td>
    <td class="nowrap ng-binding">2018-01-24 10:16:24</td>
    <td class="f-14">
      <div class="nowrap">
        <a><i class="fa fa-pencil"></i></a>
        <a><i class="fa fa-remove"></i></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
