<div class="panel-content">
  <div class="panel-item-title">拟规上企业推荐：</div>
  <div class="flex">
    <div class="flex-cell">
      <div class="flex-item" style="width: 100%;">
        <div class="flex-head">成都凯凯科技有限责任公司</div>
        <ul>
          <li class="title">公司名称</li>
          <li>成都凯凯科技有限责任公司</li>
          <li class="title">公司地址</li>
          <li>移动互联大厦</li>
          <li class="title">年产值</li>
          <li>4000万</li>
          <li class="title">推荐时间</li>
          <li>2017/11/20</li>
        </ul>
      </div>
    </div>
    <div class="flex-cell" style="padding-left:12px;">
      <div class="flex-item" style="width: 100%;">
        <div class="flex-head">成都万山科技有限责任公司</div>
        <ul>
          <li class="title">公司名称</li>
          <li>成都万山科技有限责任公司</li>
          <li class="title">公司地址</li>
          <li>移动互联大厦</li>
          <li class="title">年产值</li>
          <li>4000万</li>
          <li class="title">推荐时间</li>
          <li>2017/11/21</li>
        </ul>
      </div>
    </div>
  </div>
</div>
