<div class="con-hd">
  <button class="btn btn-warning add-btn" routerLink="/admin/roleManage">新增角色</button>
</div>
<table class="table table-bordered table-hover table-s table-overflow-x">
  <thead>
  <tr class="text-c">
    <th>ID</th>
    <th>角色名称</th>
    <th>创建人</th>
    <th>创建时间</th>
    <th>修改人</th>
    <th>修改时间</th>
    <th>状态</th>
    <th>备注</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr class="text-c ng-scope">
    <td class="nowrap ng-binding">1</td>
    <td class="nowrap ng-binding">管理员</td>
    <td class="ng-binding">超级管理员</td>
    <td class="nowrap ng-binding">2017-08-23 12:40:13</td>
    <td class="ng-binding">超级管理员</td>
    <td class="nowrap ng-binding">2017-11-16 16:55:50</td>
    <td class="nowrap ng-binding">禁用</td>
    <td class="nowrap ng-binding">2017-11-08 01:44:20</td>
    <td class="f-14">
      <div class="nowrap">
        <a><i class="fa fa-pencil"></i></a>
        <a><i class="fa fa-remove"></i></a>
        <a>设置角色</a>
      </div>
    </td>
  </tr>
  <tr class="text-c ng-scope">
    <td class="nowrap ng-binding">2</td>
    <td class="nowrap ng-binding">管理员</td>
    <td class="ng-binding">超级管理员</td>
    <td class="nowrap ng-binding">2017-08-23 12:40:13</td>
    <td class="ng-binding">超级管理员</td>
    <td class="nowrap ng-binding">2017-11-16 16:55:50</td>
    <td class="nowrap ng-binding">禁用</td>
    <td class="nowrap ng-binding">2017-11-08 01:44:20</td>
    <td class="f-14">
      <div class="nowrap">
        <a><i class="fa fa-pencil"></i></a>
        <a><i class="fa fa-remove"></i></a>
        <a>设置角色</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
