<!-- 企业基本信息 -->
<div class="panel-bd pop-index-0 animated active">
  <div class="panel-content">
    <div class="panel-item-title">工商登记信息：</div>

    <table class="table table-bordered">
      <tr>
        <td class="nowrap">公司名称:</td>
        <td colspan="3" id="companyName"></td>
      </tr>
      <tr>
        <td class="nowrap">住所:</td>
        <td colspan="3" id="companyAddress"></td>
      </tr>
      <tr>
        <td class="nowrap">重要人员信息:</td>
        <td colspan="3" id="duties"></td>
      </tr>
      <tr>
        <td class="nowrap">社会信用代码:</td>
        <td id="creditCode"></td>
        <td class="nowrap">类型:</td>
        <td id="enterpriseType"></td>
      </tr>
      <tr>
        <td class="nowrap">法人:</td>
        <td id="legalPerson"></td>
        <td class="nowrap">成立日期:</td>
        <td id="establishTime"></td>
      </tr>
      <tr>
        <td class="nowrap">注册资本:</td>
        <td id="funds"></td>
        <td class="nowrap">登记机关:</td>
        <td id="registrationAuthority"></td>
      </tr>
      <tr>
        <td class="nowrap">登记状态:</td>
        <td id="registrationType"></td>
        <td class="nowrap">核准日期:</td>
        <td id="approvedTime"></td>
      </tr>
      <tr>
        <td class="nowrap">企业联系电话:</td>
        <td colspan="3" id="telephone"></td>
      </tr>
      <tr>
        <td class="nowrap">企业通讯地址:</td>
        <td colspan="3" id="companyEms"></td>
      </tr>
      <tr>
        <td class="nowrap">经营范围:</td>
        <td colspan="3" id="range"></td>
      </tr>

    </table>

    <div class="panel-item-title">工商变更信息：</div>

    <table class="table table-bordered table-align-c" id="businessChangeInfo">

    </table>

    <div class="panel-item-title">税务登记信息：</div>
    <div id="taxationsDiv"> </div>
    <table class="table table-bordered" style="display:none" id="taxations">
      <tr>
        <td class="nowrap">登记注册类型:</td>
        <td name="registrationType"></td>
        <td class="nowrap">核算方式:</td>
        <td name="calculationMode"></td>
      </tr>
      <tr>
        <td class="nowrap">发证日期:</td>
        <td class="nowrap" name="certificationDate"></td>
        <td class="nowrap">经营地址:</td>
        <td name="businessAddress"></td>
      </tr>
      <tr>
        <td class="nowrap">地址邮编:</td>
        <td name="postcode"></td>
        <td>是否属于国地税共管户:</td>
        <td name="jointlyManagement"></td>
      </tr>
      <tr>
        <td class="nowrap">纳税人状态:</td>
        <td name="taxpayerStatus"></td>
        <td class="nowrap">主管税务机关:</td>
        <td name="taxAuthority"></td>
      </tr>
      <tr>
        <td class="nowrap">数据提供单位:</td>
        <td name="dataProvider"></td>
        <td class="nowrap">数据提供时间:</td>
        <td name="dataSupplyTime"></td>
      </tr>
    </table>

    <div class="panel-item-title">社会保险登记信息：</div>
    <table class="table table-bordered">
      <tr>
        <td class="nowrap">单位地址:</td>
        <td colspan="3" id="companyAddress"></td>
      </tr>
      <tr>
        <td class="nowrap">参保险种:</td>
        <td colspan="3">养老保险、失业保险、医疗保险、工商保险、生育保险</td>
      </tr>
      <tr>
        <td class="nowrap">单位社保编码:</td>
        <td id="insuranceCode"></td>
        <td class="nowrap">社保登记日期:</td>
        <td class="nowrap" id="insuranceRecordDate"></td>
      </tr>
      <tr>
        <td class="nowrap">是否新参保:</td>
        <td id="isNewInsured"></td>
        <td class="nowrap">养老保险参保人数:</td>
        <td id="Insuran1"></td>
      </tr>
      <tr>
        <td class="nowrap">医疗保险参保人数:</td>
        <td id="Insuran2"></td>
        <td class="nowrap">工商保险参保人数:</td>
        <td id="Insuran3"></td>
      </tr>
      <tr>
        <td class="nowrap">失业保险参保人数:</td>
        <td id="Insuran4"></td>
        <td class="nowrap">生育保险参保人数:</td>
        <td id="Insuran5"></td>
      </tr>
      <tr>
        <td class="nowrap">当年应缴保险费:</td>
        <td id="premiumPayable"></td>
        <td class="nowrap">当年实缴保险费:</td>
        <td id="premiumPaid"></td>
      </tr>
      <tr>
        <td class="nowrap">是否足额缴纳:</td>
        <td id="isFullPayment"></td>
        <td class="nowrap">应缴滞纳金:</td>
        <td id="lateFees"></td>
      </tr>
      <tr>
        <td class="nowrap">缴费年度:</td>
        <td id="paymentYear"></td>
        <td class="nowrap">参保缴费状态:</td>
        <td id="insuredPaymentStatus"></td>
      </tr>
      <tr>
        <td class="nowrap">数据提供单位:</td>
        <td id="dataProvider"></td>
        <td class="nowrap">数据提供时间:</td>
        <td class="nowrap" id="dataSupplyTime"></td>
      </tr>
    </table>
  </div>
</div>
