.panel-bd {
  min-height: 100%;
  visibility: visible;
}
.panel-content .flex .flex-cell {
  padding-top: 20px;
}
.panel-content .flex>.flex-cell:nth-child(2n) {
  padding-left: 20px;
}
.panel-content .flex .flex-item {
  border: 1px solid rgba(249,182,32,.3);
  border-radius: 10px;
}
.panel-content .flex-item {
  /*width: 3.125rem;*/
  height: 2.083333rem;
}
.economic-content {
  border: 1px solid rgba(249,182,32,.3);
  border-radius: 6px;
  overflow: hidden;
}
.economic-content li {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid rgba(249,182,32,.3);
}
.economic-content li:last-child {
  border-bottom: none;
}
.economic-content ul{
  margin: 0;
}
.m-b-20{
  margin-bottom: 20px;
}