<!-- 经济指标信息 -->
<div class="panel-bd pop-index-3 animated">
  <div class="panel-content">
    <div class="flex">
      <div class="flex-cell">
        <div class="flex-item" id="main"></div>
      </div>
      <div class="flex-cell">
        <div class="flex-item" id="main3"></div>
      </div>
    </div>
    <div class="flex">
      <div class="flex-cell">
        <div class="flex-item" id="main2"></div>
      </div>
      <div class="flex-cell">
        <div class="flex-item" id="main4"></div>
      </div>
    </div>
    <div class="flex">
      <div class="flex-cell">
        <div class="flex-item" id="touzi-main"></div>
      </div>
      <div class="flex-cell">
        <div class="flex-item" id="touzi-main2"></div>
      </div>
    </div>
    <div class="flex">
      <div class="flex-cell">
        <div class="flex-item" id="guanxi-main"></div>
      </div>
    </div>
    <div class="flex">
      <div class="flex-cell">
        <div class="flex-item" id="guanxi-main2"></div>
      </div>
    </div>

    <div class="panel-item-title">信息：</div>
    <table class="table table-bordered m-t-20" id="param">
      <tr>
        <td class="nowrap">行业类别:</td>
        <td name="industryType"></td>
        <td class="nowrap">政企对接联系人:</td>
        <td name="man"></td>
      </tr>
      <tr>
        <td class="nowrap">企业年报:</td>
        <td colspan="3">暂无</td>
      </tr>
      <tr>
        <td class="nowrap">股权出质:</td>
        <td class="nowrap" colspan="3">暂无</td>
      </tr>
    </table>

    <div class="panel-item-title">政府项目申报信息：</div>
    <div class="economic-content">
      <ul class="">
        <li>政府项目申报信息-----</li>
        <li>政府项目申报信息-----</li>
        <li>政府项目申报信息-----</li>
      </ul>
    </div>

    <div class="panel-item-title">招中标信息：</div>
    <div class="economic-content">
      <ul class="">
        <li>招中标信息-----</li>
        <li>招中标信息-----</li>
        <li>招中标信息-----</li>
      </ul>
    </div>

    <div class="panel-item-title">公司公告：</div>
    <div class="economic-content">
      <ul class="">
        <li>公司公告-----</li>
        <li>公司公告-----</li>
        <li>公司公告-----</li>
      </ul>
    </div>

    <div class="panel-item-title">企业年报：</div>
    <div class="economic-content">
      <ul class="">
        <li>企业年报-----</li>
        <li>企业年报-----</li>
        <li>企业年报-----</li>
      </ul>
    </div>

    <div class="panel-item-title">热点舆论：</div>
    <div class="economic-content last">
      <ul class="">
        <li>热点舆论-----</li>
        <li>热点舆论-----</li>
        <li>热点舆论-----</li>
      </ul>
    </div>
  </div>
</div>
