.company-list .company-item{
  display: table;
  width: 100%;
  margin: 10px 0;
  border: 1px solid rgba(249,182,32,.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.company-list .company-item .company-logo{
  width: 100px;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.company-list .company-item img{
  width: 50px;
  height: 50px;
}
.company-list .company-item .info{
  display: table-cell;
  padding: 20px;
  border-left: 1px solid rgba(249,182,32,.3);
}
.company-list .company-item .info .name{
  margin-bottom: 10px;
  font-size: 18px;
}
.company-list .company-item .info .num{
  display: inline-block;
  margin-left: 20px;
}
