.middle-view-bd {
  position: relative;
  overflow: hidden;
  height: calc(100% - 0.260417rem);
}
.mapMarker.active{
  animation: markermove 1.5s infinite;
  box-shadow: 0 0 0 10px rgba(0,0,0,0.4);
}
@keyframes markermove {
  0%,100%{transform: scale(1)}
  50%{transform: scale(1.1)}
}
.panel-content .flex .flex-item {
  border: 1px solid rgba(249,182,32,.3);
  border-radius: 10px;
}
.panel-content .flex-item {
   width: 100%;
   height: 2.083333rem;
}
.panel-content .flex .flex-cell {
   padding-top: 20px;
}
.panel-content .flex>.flex-cell:nth-child(2n) {
    padding-left: 20px;
}
.m-b-10 {
  margin-bottom: 10px;
}